<section class="colophon">
  <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">todos los derechos reservados</span>.</section>
</section>
<section class="bottom">
  <section class="attribution">
    <a href="http://github.com/Reedyn/Saga">Construido con mucho <i class="fa fa-heart"></i> Software Libre y Open-Source</a>.
  </section>
</section>
