<section class="colophon">
  <section class="copyright">Copyright &copy; <span itemprop="copyrightHolder">{{@blog.title}}</span>. <span rel="license">todos los derechos reservados</span>.</section>
</section>

